SECRET_KEY=change-this-secret
DATABASE_URL=sqlite:///ig_gf_app.db
APP_PUBLIC_URL=http://127.0.0.1:5000

# Admin inicial. En producción, configurarlo en Render Environment.
ADMIN_USERNAME=admin
ADMIN_PASSWORD=H0sann4!!!
ADMIN_NAME=Administrador Hosanna
ADMIN_EMAIL=
ADMIN_PHONE=
# Usar temporalmente true solo si querés forzar cambio del password admin en deploy.
ADMIN_RESET_ON_DEPLOY=false

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
