SECRET_KEY=change-me
DATABASE_URL=sqlite:///ig_gf_app.db
APP_BASE_URL=https://celulas.hosannaigle.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=H0sann4!!!
ADMIN_NAME=Administrador Hosanna
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
